.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 26px;
    margin-bottom: 8px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 6px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus {
    border-color: #0077b5;
  }
  
  button {
    background-color: #1385c2;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #005ea2;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

  }
  
  li {
    margin-bottom: 10px;
    width: 80px;
  }
  
  p {
    margin-top: 20px;
  }
  